:root {
  --header-bar-color: #F5F3F4;
  --main-font-color-dark: #0B090A;
  --header-nav-bg: 
}
* {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}
.wrapper {
  width: 100vw;
  height: 100vh;
  background-image: url('img/anotherOS-wallpaper.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.header {
  display: flex;
  align-items: center;
  height: 2.5vh;
  width: 100%;
  color: var(--main-font-color-dark);
  background-color: var(--header-bar-color);
  border-bottom: 2px inset #0B090A;
}
.nav-list {
  display: flex;
  font-size: 0.9rem;
  list-style-type: none;
  cursor: default;
}
.another-os-logo {
  height: 2vh;
  vertical-align: middle;
}
.nav-item {
  /* border: 1px solid black; */
  padding: 0 10px;
  transition: background-color 0.2s;
  position: relative;

}
.nav-item:hover,
.inner-item:hover {
  background-color: #B1A7A6;
}
.inner-list {
  position: absolute;
  width: 150px;
  left: 0;
  z-index: 1;
  background-color: var(--header-bar-color);
  border-bottom: 2px inset #0B090A;
  border-radius: 0 0 3px 3px;
}
.inner-item {
  padding: 0px 5px;
}